@import "../../styles/Master";

.image {
  display: flex;
  justify-content: center;
  
  &__gif {
    height: 300px;
    width: 300px;

    @include tablet {
      width: 400px;
      height: 400px;
    }
  }
}