@import "../../styles/Master";

.main-game {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__title {
    text-align: center;
    color: $site-colour-yellow;
    font-size: 1.5rem;
    margin: 20px 0;

    @include tablet {
      font-size: 2.5rem;
    }
  }
}

.loading-gif {
  height: 300px;
  width: 300px;

  @include tablet {
    width: 400px;
    height: 400px;
  }
}

.countdown {
  color: $site-colour-yellow;
  margin-top: 20px;
  font-size: 1.5rem;
}