@import '../../styles/Master.scss';

.scores {
  display: flex;
  font-size: 0.7rem;
  justify-content: space-between;
  font-weight: bolder;
  border-bottom: solid 1px $highscore-yellow;
  padding: 0 2px 2px 2px;
  margin-bottom: 5px;

  @include tablet {
    font-size: 1rem;
  }

  @include desktop {
    font-size: 1.5rem;
  }

  &__entry {
  }
}